#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;    
}

#input {
    position: absolute;
    z-index: 9999;
}

#invite-user {
    position: absolute;
    z-index: 9999;
    bottom: 15px;
    left: 15px;
}

.avatar_slave {
  border-radius: 50%;
  border: 2px solid white;
}

.avatar_king {
  border-radius: 50%;
  border: 2px solid red;
}